<div
  class="w-full rounded-xl transform duration-300 shadow-md shadow-base-content hover:shadow-lg hover:shadow-base-content overflow-hidden border border-base-content mb-6 flex"
>
  <div>
    <%= render 'submissions/voiting' %>
  </div>
  <div class="flex-1">
    <% if submission.submission_image.url %>
      <div
        class="flex justify-center bg-base-200 w-full h-96 rounded-t-xl overflow-hidden"
      >
        <%=
          image_tag submission.submission_image.url, class: 'object-scale-down'
        %>
      </div>
    <% end %>

    <div class="overflow-hidden p-4">
      <%=
        link_to submission.title.truncate(30),
                submission_path(submission),
                class:
                  'inline-block font-bold text-xl mb-4 hover:text-primary transform-color duration-300 '
      %>

      <p class="text-sm mb-4">
        <%= submission.body.truncate(200) %>
      </p>

      <div>
        <%= submission.url %>
      </div>

      <% if author_of?(submission) %>
        <div class="flex items-center space-x-2">
          <%= link_to edit_submission_path(submission) do %>
            <%=
              inline_svg_tag 'icons/edit',
                             class:
                               'h-5 w-5 text-base-content hover:text-primary transform-color duration-300'
            %>
          <% end %>
          <%= link_to submission_path(submission), method: :delete, data: { confirm: 'Are you shure?'} do %>
            <%=
              inline_svg_tag 'icons/delete',
                             class:
                               'h-5 w-5 text-base-content hover:text-primary transform-color duration-300'
            %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
