<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'tabs', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :primary_content do %>
  <div class="my-12 mx-auto  w-full">
    <h1 class="font-bold mb-6 text-4xl">Create a Submission</h1>

    <%= render 'form', submission: @submission %>

    <%=
      link_to 'Back to submissions', submissions_path, class: 'btn btn-link'
    %>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <div class="mt-48 mx-auto w-full">
    <%= render 'guidelines' %>
  </div>
<% end %>


<%= render 'basic_layout' %>
