<%= content_for :community_label, @submission.title.truncate(15) %>

<%= content_for :page_title do %>
  <%= render 'page_title', title: "r/#{@submission.community.title}" %>
<% end %>

<%= content_for :primary_content do %>
  <div
  class="w-full rounded-xl transform duration-300 shadow-md shadow-base-content hover:shadow-lg hover:shadow-base-content overflow-hidden border border-base-content mb-6 flex"
>
  <div class="flex-1">
    <div>
      <% if @submission.submission_image.url %>
        <div
          class="flex justify-center bg-base-200 w-full h-96 rounded-t-xl  overflow-hidden"
        >
          <%=
            image_tag @submission.submission_image.url,
                      class: 'object-scale-down'
          %>
        </div>
      <% end %>
    </div>

    <div class="flex">
      <%= render 'submissions/voting' %>
      
      <div class="flex-1 overflow-hidden p-4">
        <%=
          link_to @submission.title.truncate(30),
                  submission_path(@submission),
                  class:
                    'inline-block font-bold text-xl mb-1 hover:text-primary transform-color duration-300 '
        %>

        <div clas="flex">
          <%=
            link_to "r/#{@submission.community.title}",
                    community_path(@submission.community),
                    class:
                      'font-semibold hover:text-primary transform-color duration-300'
          %>

          <span class="font-extrabold px-2 text-xl">·</span>

          <%= render 'submissions/posted_by', submission: @submission %>
        </div>

        <p class="text-sm mb-4">
          <%= @submission.body %>
        </p>

        <div>
          <%= @submission.url %>
        </div>

        <%= render 'submissions/actions', submission: @submission %>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= content_for :secondary_content do %>
  <%= render 'communities/sidebar', community: @submission.community %>

<% end %>

<%= render 'basic_layout' %>

