<%= content_for :community_label, "r/#{@community.name}" %>

<div class="grow">
  <h1
    class="font-bold bg-accent text-3xl md:text-4xl  mb-2 md:mb-10 pl-12 py-4 md:py-8 text-base-100 rounded-b-lg"
  >
    <%= "r/#{@community.title}" %>
  </h1>
  <%= content_for :primary_content do %>
    <div>
      <% @community.submissions.each do |submission| %>
        <%= render 'submissions/submission', submission: submission %>
      <% end %>
    </div>
  <% end %>

  <%= content_for :secondary_content do %>
    <div >
      <%= link_to new_submission_path, class: 'hidden md:flex btn btn-primary w-full' do %>
        <%= inline_svg_tag 'icons/add', class: 'h-6 w-6 mr-1' %>
        <span>Create Submission</span>
      <% end %>
      <%= render 'sidebar', community: @community %>
    </div>
  <% end %>

  <%= render 'add_btn', path: new_submission_path %>

  <%= render 'basic_layout' %>
</div>
