<%= content_for :community_label, "r/#{@community.name}" %>

<%= content_for :page_title do %>
  <%= render 'page_title', title: "r/#{@community.title}" %>
<% end %>

<%= content_for :primary_content do %>
  <div>
    <% if @community.submissions.exists? %>
      <% @community.submissions.each do |submission| %>
        <%= render 'submissions/submission', submission: submission %>
      <% end %>
    <% else %>
      <%= render 'submissions/submissions_dont_exist' %>
    <% end %>
  </div>
<% end %>

<%= content_for :secondary_content do %>
  <% if @community.submissions.exists? %>
    <%= link_to new_submission_path, class: 'hidden md:flex btn btn-primary w-full mb-12' do %>
      <%= inline_svg_tag 'icons/add', class: 'h-6 w-6 mr-1' %>
      <span>Create Submission</span>
    <% end %>
  <% end %>

  <%= render 'sidebar', community: @community %>
<% end %>

<%= render 'add_btn', path: new_submission_path %>

<%= render 'basic_layout' %>
